@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'Poppins', sans-serif;
    background: #D1E8E2;
    background-image: url('/images/landingpage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .container {
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
} */

.login {
    width: 400px;
    position: fixed;
    bottom: 100px;
    left: 100px;
}

.img-welcome {
    width: 900px;
    height: 750px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.header {
    /* background-color: bisque; */
    height: 100px;
}

.content {
    min-height: 650px;
}

.mainbar {
    display: flex;
    /* background-color: antiquewhite; */
    min-height: 650px;
    flex-wrap: wrap;
}

.footer {
    background-color: chartreuse;
    height: 80px;
}
